// Variables
$bg: #121212;
$card-bg: #212121;
$primary-color: #0095f6;
$primary-hover: #1877f2;
$text-dark: #ffffff;
$border-color: #e6e6e6;

// Center the entire container on the viewport
.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: $bg;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  box-sizing: border-box;
}

// Form Card Styling
.form-container {
  background-color: $card-bg;
  padding: 2.5rem;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 450px;
  text-align: center;

  .form-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: $text-dark;
    margin-bottom: 2rem;
  }
}

// Layout inside the form
.post-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5rem;
  }

  // Custom Styled File Upload Button
  .file-label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #212121;
    border: 2px dashed $border-color;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.25em;
    color: #555;
    transition: all 0.2s ease;

    &:hover {
      border-color: $primary-color;
      background-color: rgba($primary-color, 0.02);
      color: $primary-color;
    }

    .file-input {
      display: none; // Hides the ugly native file input string
    }
  }

  // Caption/Content Labels and Textarea
  .text-label {
    font-size: 0.9rem;
    font-weight: 600;
    color: #666;
  }

  .text-input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid $border-color;
    border-radius: 10px;
    font-size: 1.25rem;
    font-family: inherit;
    resize: none;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.2s;
    background-color: #212121;
    color: $text-dark;

    &:focus {
      box-shadow: 0px 0px 20px 1px  $primary-color;
    }
  }

  // Submit Button
  .submit-btn {
    background-color: $primary-color;
    color: #ffffff;
    border: none;
    padding: 0.85rem;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition:
      background-color 0.2s ease,
      transform 0.1s ease;
    margin-top: 0.5rem;

    &:hover {
      background-color: $primary-hover;
    }

    &:active {
      transform: scale(0.98); // Tiny click bounce effect
    }
  }
}
